In [6]:
import os
import pandas as pd
import os
import pandas as pd
#PEMSD3
PEMSD4={
    'model_list': [
        'mySTGCN_83111',
        'TGCN_32720',
        'DCRNN_31740',
        'GTS_55331',
        'MTGNN_62019',
        'STGODE_44100'
    ],
    'explainer_list':[
        'mySTGCN_6296',
        'TGCN_27287',
        'DCRNN_5521',
        'GTS_45622',
        'MTGNN_99863',
        'STGODE_64613'
    ]
}
PEMSD8={
    'model_list': [
        'mySTGCN_68375',
        'TGCN_88817',
        'DCRNN_26360',
        'GTS_66189',
        'MTGNN_74146',
    ],
    'explainer_list': [
        'mySTGCN_18153',
        'TGCN_22291',
        'DCRNN_97181',
        'GTS_35808',
        'MTGNN_60633'        
    ]
}
TGESHD={
    'model_list': [
        'mySTGCN_96118',
        'TGCN_81856',
        'DCRNN_47320',
        'MTGNN_78181',
    ],
    'explainer_list': [
        'mySTGCN_96334',
        'TGCN_246',
        'DCRNN_63585',
        'MTGNN_42631'        
    ]
}
model_list=TGESHD

device='cpu'

ACC={}
for model in model_list['model_list']+model_list['explainer_list']:
    exp_id=model.split('_')[1]
    path=f"../lib/Bigscity-LibCity/libcity/cache/{exp_id}/evaluate_cache"
    csv_name=''
    for fname in os.listdir(path):
        if fname[-3:]=='csv':
            csv_name=fname
            break
    df=pd.read_csv(path+'/'+csv_name)
    ACC[model]={
        'MAE':df['masked_MAE'][0],
        'RMSE':df['masked_RMSE'][0],
        'MAPE':df['masked_MAPE'][0]
    }
ACC
#MSE=[11.510171,12.963961,16.957870,12.651650]
#MSE=[16.991486,20.815380,25.351358,20.506021]

{'mySTGCN_96118': {'MAE': 2.285557746887207,
  'RMSE': 3.810470104217529,
  'MAPE': 0.0750418081879615},
 'TGCN_81856': {'MAE': 3.433876037597656,
  'RMSE': 5.037308692932129,
  'MAPE': 0.112556591629982},
 'DCRNN_47320': {'MAE': 2.340784788131714,
  'RMSE': 3.9656734466552734,
  'MAPE': 0.0806249305605888},
 'MTGNN_78181': {'MAE': 2.167684555053711,
  'RMSE': 3.808503389358521,
  'MAPE': 0.0747358873486518},
 'mySTGCN_96334': {'MAE': 2.2863893508911133,
  'RMSE': 3.809631824493408,
  'MAPE': 0.075104109942913},
 'TGCN_246': {'MAE': 2.904315710067749,
  'RMSE': 4.386194705963135,
  'MAPE': 0.0939326658844947},
 'DCRNN_63585': {'MAE': 2.314641237258911,
  'RMSE': 3.944333553314209,
  'MAPE': 0.0796073004603385},
 'MTGNN_42631': {'MAE': 2.166953563690185,
  'RMSE': 3.8009285926818848,
  'MAPE': 0.0746099799871444}}

In [7]:
df=pd.DataFrame(data=ACC)
df

,mySTGCN_96118,TGCN_81856,DCRNN_47320,MTGNN_78181,mySTGCN_96334,TGCN_246,DCRNN_63585,MTGNN_42631
MAE,2.285558,3.433876,2.340785,2.167685,2.286389,2.904316,2.314641,2.166954
RMSE,3.810470,5.037309,3.965673,3.808503,3.809632,4.386195,3.944334,3.800929
MAPE,0.075042,0.112557,0.080625,0.074736,0.075104,0.093933,0.079607,0.074610